@import "tailwindcss";



:root {
  --background: #191919;
  --foreground: #ffffff;

  --gray-100: #9b9b9b;
  --gray-200: #2e2e2e;
  --gray-300: #202020;
  --gray-400: #7d7975;

  --smoke-100: #f5f4f2;
  --smoke-200: #e6e5e3;
  --smoke-300: #eae9e7;

  --blue: #0075de;
  --hover-blue: #097ee8;

  --red: #eb5757;

}

/* Sidebar */
.text-sidebar {
  color: var(--gray-100);
}

.bg-sidebar {
  background-color: var(--gray-300);
}

.bg-sidebar-focus {
  background-color: var(--gray-200);
}

.hover\:bg-hover-sidebar:hover {
  background-color: var(--gray-200);
}

.border-sidebar {
  border-right: 1px solid var(--gray-200);
}

.logout-button {
  background-color: var(--background);
}

.logout-button:hover {
  color: var(--red);
  background-color: var(--gray-200);
}

.dropdown {
  border: 1px solid var(--gray-200);
  background-color: var(--gray-300);
}

/* Sign in and Sign up Form */

.button-blue {
  background-color: var(--blue);
}

.button-blue:hover {
  background-color: var(--hover-blue);
}

.border-form-input {
  border: 1px solid var(--smoke-300);
  border-radius: 8;
}

.border-form-button {
  border: 1px solid var(--smoke-200);
}

.border-form-button:hover {
  background-color: var(--smoke-100)
}

.form-text {
  color: var(--gray-400)
}

.seperated-line {
  background-color: var(--smoke-200);
}



body {
  background: var(--background);
  color: var(--foreground);
}